/*公用样式*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
input{
    outline: none;
    border: 0;
}
.textoverflow{
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

li{
    list-style-type: none;
}
/*左侧已选模块样式*/
.img_preview {
    width: 50% !important;
}
.cube_left_contain{
    width:200px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1980;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.75);
    color: #ffffff;
}
.cube_left_contain .cube-title{
    color: #fff;
    font-family: Lobster;
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #2DD241;
}
.cube_left_contain .search_type {
    background: #fff;
    padding: 5px 5px 5px 10px;
    /* margin: 0 auto; */
    margin: 10px 10px 0 10px;
    width: 140px;
    height: 20px;
    position: relative;
    line-height: 20px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.cube_left_contain .title{
    font-size: 16px;
}
.cube_left_contain .add_module{
    position: absolute;
    right: 10px;
}
.cube_left_contain .search_result{
    margin-left: 10px;
    background: #fff;
    color: #000;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    width: 155px;
    box-sizing: border-box;
    padding-left: 8px;
    padding-bottom: 5px;
    z-index: 1000;
    position: absolute;
    top: 85px;
    left: 0;
}
.search_result .search_content li:hover{
    background: rgba(7, 127, 230, 0.55);
}
.search_result .search_content li{
    margin-bottom: 5px;
}
.cube_left_contain .search_content_result{
    margin:20px 10px 10px 10px;
}
.cube_left_contain .search_content_result .selected_mode ul{
    border: 1px dashed #757373;
    padding: 5px 0;
}
.cube_left_contain .icon_mode{
    background: url('http://s16.mogucdn.com/p1/150703/upload_ie2tkntcmyygeyjsgizdambqhayde_600x20.png') no-repeat 0 0;
}

.cube_left_contain .search_content_result .search_content_mode .del_mode{
    position: relative;
    background-position: -40px 0;
    position: absolute;
    top: 0;
    right: 5px;
    width: 20px;
    height: 20px;
    display: block;
}
.cube_left_contain .search_content_result .search_content_mode{
    line-height: 20px;
    height: 20px;
    padding-left: 5px;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cube_left_contain .search_content_result .selected_mode{
    margin-top: 15px;
    margin-right: 20px;
}
.cube_left_contain .btn_operation{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-top: 2px solid #5D5A5A;
}
.cube_left_contain .btn_operation a{
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #00bd9c;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
    box-shadow: 0 1px #202020 inset;
    color: #fff;
}
.cube_left_contain .selected_active{
    background-color: #86641A;
}
.cube_left_contain .edit_content{
    margin-top: 10px;
    color: #ccc;
    margin-left: 10px;
}
.cube_left_contain .edit_content .edit_sub{
    display: inline-block;
    /* width: 15px; */
    height: 20px;
    padding: 3px;
    border-radius: 3px;
    background: #696767;
    line-height: 20px;
    text-align: center;
    border: 1px solid #969393;
    margin-top: 10px;
    color: #fff;
}
/*遮罩层样式*/
.overlay{
    width: 100%;
    height: 100%;
    z-index: 2990;
    background: #000;
    opacity: 0.6;
    position: fixed;
    top:0;
    left: 0;
}

/*模块编辑页*/
.light_edit_area{
    position: fixed;
    top:10px;
    left:24px;
    width: 90%;
    z-index: 3000;
}
.light_edit_area .lb_header{
    height: 40px;
    line-height: 40px;
    position: relative;
    background: #f8f8f8;
    border-bottom: 1px solid #e8e8e8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.light_edit_area .lb_header .lb_title{
    color: #555;
    font-size: 14px;
    font-weight: 400;
    margin: 0 15px;
    text-align: left;
}
.light_edit_area .lb_wrap{
    width: 100%;
}
.light_edit_area .lb_header .lb_close{
    background: url(http://s6.mogujie.cn/pic/140408/13t2zv_kqzdcy2wozbegq2ugfjeg5sckzsew_11x11.png) no-repeat center center;
    line-height: 40px;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .6s;
    font-size: 16px;
    color: #999;
    display: block;
}
.light_edit_area .lb_body{
    background-color: #FFF;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.panel_sub{
    width: 98%;
    margin: 0 auto;
    /*display: none;*/
    margin-bottom: 10px;
    border-bottom: 2px dashed #f2f2f2;
    padding: 5px 0;
}
.panel_sub h3{
    font-size: 13px;
    margin-bottom: 5px;
}
.panel_sub td.no{
    width: 30px;
    text-align: center;
    background: #f8f8f8;
}
.panel_sub td{
    border: solid 1px #ddd;
    line-height: 25px;
    padding: 5px;
}
.panel_sub th{
    line-height: 25px;
    padding: 5px;
    text-align: left;
    border: 1px solid #ddd;
}
.panel_sub table{
    width: 100%;
    font-size: 12px;
    background: #f8f8f8;
}
.panel_sub tbody{
    background: #fff;
}
.panel_sub input{
    width: 100%;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel_sub a{
    width: 16px;
    height: 18px;
    color: #333;
    font-size: 14px;
    display: inline-block;
}
.panel_sub .del_content{
    background: url("http://s18.mogucdn.com/p1/160122/upload_ie4ggmzsgntgczrtgyzdambqgiyde_66x66.png") no-repeat;
    background-size: auto 100%;
}
.panel_sub .append_content{
    background: url("http://s18.mogucdn.com/p1/160122/upload_ifrgmytche4gezrtgyzdambqmeyde_64x64.png") no-repeat;
    background-size: auto 100%;
}

