
#parse("common/head_v1.vm")

<body class="theme-default main-menu-animated">

<script>var init = [];</script>
<!-- Demo script --> <script src="${rc.contextPath}/assets/demo/demo.js"></script> <!-- / Demo script -->


#parse("common/main_nav_menu_v1.vm")
<div id="main-wrapper">

	<div id="content-wrapper">
		
		#if($errorMsg)
			<div class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Hi</strong> $errorMsg
			</div>
		#end
		
		
	</div> <!-- / #content-wrapper -->
</div> <!-- / #main-wrapper -->

</body>
</html>