
<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
    <!-- Main menu toggle -->
    <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>

    <div class="navbar-inner">
        <!-- Main navbar header -->
        <div class="navbar-header">
            <!-- Logo -->
            <a href="${rc.contextPath}/index.shtml" class="navbar-brand" style="font-size:18px;">
                <div><img alt="Pixel Admin" src="${rc.contextPath}/assets/images/pixel-admin/main-navbar-logo.png"></div>
                自由市场
            </a>
            <!-- Main navbar toggle -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>

        </div> <!-- / .navbar-header -->

        <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
            <div>
                <ul class="nav navbar-nav">
                    #set($userdo=$session.getAttribute("loginUser"))
                    #set($menus = $userdo.menus)
                    #set($curri=0)
                    #foreach($menu in $menus)

                        #set($length=$menu.viewLevelCode.length())
                        #if($length == 3)
                            <li>
                                <a href="javascript:;"  class="dropdown-toggle" data-toggle="dropdown">主题管理系统</a>
                                <ul class="dropdown-menu">
                                    #set($currj=0)
                                    #foreach($_menu in $menus)
                                        #if($currj<=$curri)
                                        #else
                                            #set($length2=$_menu.viewLevelCode.length())
                                            #if($length2==3)
                                                #break
                                            #else
                                                <li><a href="${rc.contextPath}${_menu.url}">${_menu.menuName}</a></li>
                                            #end
                                        #end
                                        #set($currj=$currj+1)
                                    #end
                                </ul>
                            </li>
                        #end
                        #set($curri=$curri+1)
                    #end
                </ul>
                <!--<ul class="nav navbar-nav">
						<li>
                            <a href="javascript:;"  class="dropdown-toggle" data-toggle="dropdown">主题管理系统</a>
                            <ul class="dropdown-menu">
                                <li><a href="${rc.contextPath}/market/marketList.shtml">市场管理</a></li>
                                <li><a href="${rc.contextPath}/domain/topicList.shtml">专题管理</a></li>
                                <li><a href="${rc.contextPath}/article/articleList.shtml">文章管理</a></li>
                            </ul>
                        </li>
					</ul>--> <!-- / .navbar-nav -->

                <div class="right clearfix">
                    <ul class="nav navbar-nav pull-right right-navbar-nav">

                        <li class="dropdown">
                            <a href="index.shtml#" class="dropdown-toggle user-menu" data-toggle="dropdown">
                                <img src="${rc.contextPath}/assets/demo/avatars/1.jpg" alt="">
                                <span>$!{loginUser.unick}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="${rc.contextPath}/loginout.shtml"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;退出</a></li>
                            </ul>
                        </li>
                    </ul> <!-- / .navbar-nav -->
                </div> <!-- / .right -->
            </div>
        </div> <!-- / #main-navbar-collapse -->
    </div> <!-- / .navbar-inner -->
</div> <!-- / #main-navbar -->
