	<div class="col-lg-12">
        <div style="padding:5px;" class="text-primary text-right col-md-6">总记录数:$!query.rowCount &nbsp;</div>
		<ul class="pagination col-md-5">
			#if($!query.currentPage==1)
				<li class="paginate_button previous disabled">
					<a href="#" >上一页</a>
				</li>
			#else
				#set($prePage=$!query.currentPage - 1)
				<li class="paginate_button previous">
					<a href="#" data-page="$prePage">上一页</a>
				</li>
			#end
			#if(4>$!query.currentPage)
				#set($fstart=1)
			#else
				#set($fstart=$!query.currentPage - 4)
			#end
			#set($fend=$!query.currentPage + 4)
			#foreach($!pageindex in [$!fstart..$!fend])
				#if($!query.pageCount >= $!pageindex)
					<li class="paginate_button #if($!query.currentPage==$!pageindex) active #end"><a href="#"  data-page="$!pageindex">$!pageindex</a></li>
				#end
			#end
			#set($nextPage = $!query.currentPage+1)
			<li class="paginate_button next"><a href="#" data-page="$!nextPage">下一页</a></li>
		</ul>
		<input type="input" class="form-control col-md-1" style="width:60px;disply:inline;" id="page2go" value="$!query.currentPage"/>
    </div>
