	<div>
        <ul class="pagination pull-right">
			#if($!query.currentPage==1)
				<li class="paginate_button previous disabled">
					<a href="#" >上一页</a>
				</li>
			#else
				#set($prePage=$!query.currentPage - 1)
				<li class="paginate_button previous">
					<a href="#" data-page="$prePage">上一页</a>
				</li>
			#end
			#if(4>=$!query.currentPage)
				#set($fstart=1)
			#else
				#set($fstart=$!query.currentPage - 4)
			#end
			#set($fend=$!query.currentPage + 4)
			#if($!query.pageCount < $!fend)
				#set($fend = $!query.pageCount)
			#end
			#foreach($!pageindex in [$!fstart..$!fend])
				#if($!query.pageCount >= $!pageindex)
					<li class="paginate_button #if($!query.currentPage==$!pageindex) active #end"><a href="#"  data-page="$!pageindex">$!pageindex</a></li>
				#end
			#end
			#set($nextPage = $!query.currentPage+1)
			#if($nextPage <= $!query.pageCount)
                <li class="paginate_button next"><a href="#" data-page="$!nextPage">下一页</a></li>
			#end
		</ul>
		<div style="padding:5px;" class="text-primary text-right pull-right">总记录数:$!query.rowCount &nbsp;</div>
    </div>
