<button style="visibility:hidden" id="upic"/>
<script src="${rc.contextPath}/assets/js/plupload.full.min.js"></script>
<script>
    var lastUp;
    var uploader = new plupload.Uploader({
        runtimes: 'html5',
        browse_button: 'upic',
        multi_selection: true,
        max_file_size: '5mb',
        drop_element: 'uploader',
        file_data_name: 'upic',
        url: '${rc.contextPath}/topicUpload/uploadImg.shtml',
        filters: [
            {
                title: 'image files',
                extensions: 'jpg,png,gif,bmp'
            }
        ]
    });

    uploader.init();

    uploader.bind('Error', function (up, error) {
        alert(error.message);
    });

    uploader.bind('FilesAdded', function (up, files) {
        up.refresh();
        up.start();
    });

    // 文件上传完成
    uploader.bind('FileUploaded', function (up, file, resp) {
        var data = jQuery.parseJSON(resp.response);
        if (data.success) {
            lastUp.val(data.value);
        } else {
            alert(data.errorMsg);
        }
    });

    // 点击上传图片
    $('body').on('click', '.upimg', function () {
        lastUp = $('#' + $(this).data('id'));
        $('#upic').trigger('click');
    });

    //显示图片预览
    $('body').on('mouseover', '.img_preview', function () {
        var self = $(this), content = '', val = self.val();
        if (val != '') {
            if(val.indexOf("http://") == -1){
                val = "https://s10.mogucdn.com/"+val;
            }
            content = '<img src="' + val + '"/>';
            self.data({
                'title': '图片预览',
                'content': content,
                'html': 'true'
            }).popover();
        }
    });

    //移除图片预览
    $('body').on('mouseout', '.img_preview', function () {
        $(this).popover('destroy');
		$(".popover").remove();
    });
</script>