<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--ArticleElement 映射关系配置文件 -->
<mapper namespace="com.mogujie.service.arkmaster.dao.topic.ArticleElementDao">
	<sql id="basicColumn">
		id,articleId,sort,type,content,status,isDeleted,created,updated
	</sql>
	<sql id="basicValues">
		#{id}, #{articleId},#{sort}, #{type}, #{content},#{status},#{isDeleted},#{created},#{updated}
	</sql>

	<!-- 开发负责人：linxia
    	 功能说明：根据文章ID查 文章元素列表 -->
	<select id="queryArticleElementList" parameterType="java.lang.Long" resultType="articleElementDO">
		select <include refid="basicColumn" />
		from TopicArticleElement
		where articleId = #{articleId}
		and isDeleted = 0
		order by sort
		limit 200
	</select>

	<!-- 开发负责人：linxia  功能说明：添加文章元素-->
	<insert id="addArticleElementDO" parameterType="articleElementDO" keyProperty="id" useGeneratedKeys="true">
		insert into TopicArticleElement(
		<include refid="basicColumn" />
		)values(
		<include refid="basicValues" />
		)
	</insert>
	<!-- 开发负责人：linxia  功能说明：批量添加文章元素 -->

	<insert id="addArticleElementBatch" useGeneratedKeys="true" parameterType="java.util.List">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into TopicArticleElement (articleId,sort,type,content,status,isDeleted,created,updated)
		values
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.articleId},#{item.sort},#{item.type},#{item.content},#{item.status},#{item.isDeleted},#{item.created},#{item.updated})
		</foreach>
	</insert>

	<!-- 开发负责人: linxia
    	 功能说明：修改文章元素信息 -->
	<update id="updateArticleElementDO" parameterType="articleElementDO" >
		update TopicArticleElement
		set
		sort = #{sort},
		type = #{type},
		content = #{content},
		status = #{status},
		isDeleted = #{isDeleted},
		updated = #{updated}
		where id = #{id}
		limit 1
	</update>

	<update id="updateArticleElementBatch"  parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update TopicArticleElement
			<set>
				sort = #{item.sort},
				type = #{item.type},
				content = #{item.content},
				status = #{item.status},
				isDeleted = #{item.isDeleted},
				updated = #{item.updated}
			</set>
			where id = #{item.id}
			limit 1
		</foreach>
	</update>

	<!-- 开发负责人：linxia
    	 功能说明：根据主键查询文章元素 -->
	<select id="queryArticleElementById" parameterType="java.lang.Long" resultType="articleElementDO">
		select <include refid="basicColumn" />
		from TopicArticleElement
		where id = #{id}
		and isDeleted = 0
		limit 1
	</select>

	<!-- 开发负责人：linxia
        功能说明：根据主键删除文章元素 -->
	<update id="deleteArticleElementDO" parameterType="articleElementDO">
		update TopicArticleElement
		set
		isDeleted = #{isDeleted},
		updated = #{updated}
		where
		id = #{id}
		limit 1
	</update>
</mapper>