<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Topic 映射关系配置文件 -->
<mapper namespace="com.mogujie.service.arkmaster.dao.topic.TopicItemInfoDao">
	<sql id="basicColumn">
		id,relationId,tableId,itemType,content,sort,status,isDeleted,created,updated
	</sql>
	<sql id="basicValues">
		#{id}, #{relationId}, #{tableId}, #{itemType}, #{content}, #{sort}, #{status},#{isDeleted}, #{created}, #{updated}
	</sql>

	<sql id="Where_Clause">
		<!-- ignore isDeleted = 1 -->
		isDeleted &lt;&gt; 1
		<if test="relationId != null">
			and relationId = #{relationId}
		</if>
		<if test="tableId != null">
			and tableId = #{tableId}
		</if>
		<if test="isDeleted != null">
			and isDeleted = #{isDeleted}
		</if>
		<if test="status != null">
			and status = #{status}
		</if>

		<if test="createBegin != null">
			and created >= ${createBegin}
		</if>
		<if test="createEnd != null">
			and created &lt;= ${createEnd}
		</if>
		<if test="updateBegin != null">
			and updated >= ${updateBegin}
		</if>
		<if test="updateEnd != null">
			and updated &lt;= ${updateBegin}
		</if>

	</sql>

	<!-- 开发负责人：延霄
	     功能说明：添加商品详情信息-->
	<insert id="addTopicItemInfo" parameterType="topicItemInfoDO">
		insert into TopicItemInfo(
		<include refid="basicColumn" />
		)values(
		<include refid="basicValues" />
		)
	</insert>

	<!-- 开发负责人：延霄
	     功能说明：更新商品详情信息-->
	<update id="updateTopicItemInfo" parameterType="topicItemInfoDO" >
		update TopicItemInfo
		set relationId = #{relationId}
		<if test="content != null">
			,content = #{content}
		</if>
		<if test="status != null">
		    ,status= #{status}
		</if>
		<if test="updated != null">
			,updated = #{updated}
		</if>
		<if test="isDeleted != null">
			,isDeleted= #{isDeleted}
		</if>
		<if test="sort != null">
			,sort = #{sort}
		</if>
		where relationId = #{relationId}
	      and tableId    = #{tableId}
		  and isDeleted  = 0
		LIMIT 200
	</update>

	<!-- 开发负责人：泊雨
	     功能说明：更新商品详情信息-->
	<update id="updateTopicItemInfoById" parameterType="topicItemInfoDO" >
		update TopicItemInfo
		set relationId = #{relationId}
		<if test="content != null">
			,content = #{content}
		</if>
		<if test="status != null">
			,status= #{status}
		</if>
		<if test="updated != null">
			,updated = #{updated}
		</if>
		<if test="isDeleted != null">
			,isDeleted= #{isDeleted}
		</if>
		<if test="sort != null">
			,sort = #{sort}
		</if>
		where id = #{id}
		LIMIT 200
	</update>

	<!-- 开发负责人：延霄
    	 功能说明：根据条件查询商品列表 -->
	<select id="queryTopicItemInfo" parameterType="topicItemInfoDO" resultType="topicItemInfoDO">
		select <include refid="basicColumn" />
		from TopicItemInfo
		<where>
			<include refid="Where_Clause"/>
		</where>
		order by sort asc
		LIMIT 200
	</select>

	<!-- 开发负责人：延霄
    	 功能说明：根据条件查询商品列表 -->
	<select id="queryTopicItemInfoNew" parameterType="topicItemInfoQuery" resultType="topicItemInfoDO">
		select <include refid="basicColumn" />
		from TopicItemInfo
		<where>
			<include refid="Where_Clause"/>
		</where>
		order by sort asc
		<if test="start &gt;= 0 and pageSize &gt; 0">
			limit #{start}, #{pageSize}
		</if>
	</select>

	<select id="queryItemInfosCount" parameterType="topicItemInfoQuery" resultType="int">
		SELECT COUNT(1)
		from TopicItemInfo
		<where>
			<include refid="Where_Clause"/>
		</where>
		order by sort asc
		LIMIT 1
	</select>

</mapper>