<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射关系配置文件 -->
<mapper namespace="com.mogujie.service.arkmaster.dao.topic.LabelRelationDao">
	<sql id="basicColumn">
		id,relationId,labelId,status,isDeleted,created,updated
	</sql>
	<sql id="basicValues">
		#{id}, #{relationId}, #{labelId}, #{status},#{isDeleted}, #{created}, #{updated}
	</sql>
	<sql id="Where_Clause">
		<!-- ignore isDeleted = 1 -->
		isDeleted &lt;&gt; 1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="relationId != null">
			and relationId = #{relationId}
		</if>
		<if test="isDeleted != null">
			and isDeleted = #{isDeleted}
		</if>
		<if test="status != null">
			and status = #{status}
		</if>
	</sql>

	<!-- 开发负责人：延霄
    	 功能说明：查询标签列表信息 -->
	<select id="queryLabelRelationList" parameterType="labelRelationDO" resultType="labelRelationDO">
		select <include refid="basicColumn" />
		from TopicLabelRelation
		<where>
			<include refid="Where_Clause"/>
		</where>
		order by id desc
		limit 100
	</select>

	<!-- 开发负责人：延霄
	     功能说明：插入标签信息列表-->
	<insert id="addLabelRelationList" parameterType="labelRelationDO">
		insert into TopicLabelRelation(
		<include refid="basicColumn" />
		)values(
		<include refid="basicValues" />
		)
	</insert>

	<!-- 开发负责人：延霄
	     功能说明：删除标签信息列表-->
	<insert id="updateLabelRelationList" parameterType="labelRelationDO">
		update TopicLabelRelation
		set relationId = #{relationId}
		<if test="labelId != null">
			,labelId=#{labelId}
		</if>
		<if test="status != null">
			,status=#{status}
		</if>
		<if test="isDeleted != null">
			,isDeleted=#{isDeleted}
		</if>
		<if test="created != null">
			,created=#{created}
		</if>
		<if test="updated != null">
			,updated=#{updated}
		</if>
		where
		relationId = #{relationId}
		LIMIT 100
	</insert>
</mapper>