<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Topic 映射关系配置文件 -->
<mapper namespace="com.mogujie.service.arkmaster.dao.topic.LabelDao">
	<sql id="basicColumn">
		id,name,marketId,status,isDeleted,created,updated
	</sql>
	<sql id="Where_Clause">
		<!-- ignore isDeleted = 1 -->
		isDeleted &lt;&gt; 1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="marketId != null">
			and (marketId = #{marketId} or marketId = 0)
		</if>
		<if test="isDeleted != null">
			and isDeleted = #{isDeleted}
		</if>
		<if test="status != null">
			and status = #{status}
		</if>
	</sql>

	<!-- 开发负责人：延霄
    	 功能说明：查询标签列表 -->
	<select id="queryLabelList" parameterType="labelDO" resultType="labelDO">
		select <include refid="basicColumn" />
		from TopicLabel
		<where>
			<include refid="Where_Clause"/>
		</where>
		order by id desc
		limit 100
	</select>
</mapper>