<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Market 映射关系配置文件 -->
<mapper namespace="com.mogujie.service.arkmaster.dao.topic.MarketDao">
	<sql id="basicColumn">
		id,name,imgs,description,status,created,updated,isDeleted,sort,editorId,editNick
	</sql>
	<sql id="basicValues">
		#{id}, #{name}, #{imgs}, #{description}, #{status},#{created},#{updated},#{isDeleted},#{sort},#{editorId},#{editNick}
	</sql>

	<sql id="Where_Clause">
		<!-- ignore isDeleted = 1 -->
		isDeleted &lt;&gt; 1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="name != null">
			and name = #{name}
		</if>
		<if test="isDeleted != null">
			and isDeleted = #{isDeleted}
		</if>

		<if test="ids != null ">
			AND id in
			<foreach collection="ids" item="id" open="(" close=")"
					 separator=",">
				#{id}
			</foreach>
		</if>
		<if test="permissions!=null and permissions.size()>0">
			<if test="!isFilter">
				and id in
				<foreach collection="permissions" item="p" open="(" close=")"
						 separator=",">
					#{p.moduleValue}
				</foreach>
			</if>
			<if test="isFilter">
				and (
				<foreach collection="permissions" item="p" open="(" close=")" separator=") or (">
					<if test="p.action=='self'">
						id='null'
					</if>
					<if test="p.action=='mng'">
						id=#{p.moduleValue}
					</if>
				</foreach>
				)
			</if>
		</if>
		<if test="permissions == null or permissions.size()==0">
			and id = 'none'
		</if>
	</sql>

	<!-- 开发负责人：延霄
	     功能说明：添加市场信息-->
	<insert id="addMarket" parameterType="marketDO">
		insert into TopicMarket(
		<include refid="basicColumn" />
		)values(
		<include refid="basicValues" />
		)
	</insert>

	<!-- 开发负责人：延霄
	     功能说明：更新市场信息-->
	<update id="updateMarket" parameterType="marketDO" >
		UPDATE TopicMarket
		SET id = #{id}
		<if test="name != null">
			,NAME=#{name}
		</if>
		<if test="imgs != null">
			,imgs = #{imgs}
		</if>
		<if test="description != null">
			,description = #{description}
		</if>
		<if test="status != null">
		    ,status= #{status}
		</if>
		<if test="updated != null">
			,updated = #{updated}
		</if>
		<if test="isDeleted != null">
			,isDeleted= #{isDeleted}
		</if>
		<if test="sort != null">
			,sort = #{sort}
		</if>
		WHERE
		id = #{id}
		LIMIT 1
	</update>

	<!-- 开发负责人：延霄
         功能说明：查询市场总数 -->
	<!--<select id="queryMarketListRowCount" parameterType="marketQuery" resultType="int">
		SELECT COUNT(1)
		  FROM TopicMarket
		<where>
			<include refid="Where_Clause"/>
		</where>
		LIMIT 1
	</select>-->

	<select id="queryMarketListRowCount" parameterType="marketQuery" resultType="int">
		SELECT COUNT(1)
		FROM TopicMarket
		<where>
			<include refid="Where_Clause"/>
		</where>
		LIMIT 1
	</select>


	<!-- 开发负责人：延霄
    	 功能说明：根据条件查询市场列表 -->
	<select id="queryMarketList" parameterType="marketQuery" resultType="marketDO">
		SELECT <include refid="basicColumn" />
		  FROM TopicMarket
		<where>
			<include refid="Where_Clause"/>
		</where>
		ORDER BY SORT DESC
		<if test="start &gt;= 0 and pageSize &gt; 0">
			limit #{start}, #{pageSize}
		</if>
	</select>


	<!-- 开发负责人：延霄
    	 功能说明：根据主键查询市场信息 -->
	<select id="queryMarketById" parameterType="java.lang.Long" resultType="marketDO">
		SELECT <include refid="basicColumn" />
		FROM  TopicMarket
		WHERE id = #{id}
		LIMIT 1
	</select>
</mapper>