<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--ArticleElement 映射关系配置文件 -->
<mapper namespace="com.mogujie.service.arkmaster.dao.permission.PermissionDao">
    <sql id="basicColumn">
        id,module,moduleValue,action,ownType,ownval,remark
    </sql>
    <sql id="basicValues">
        #{id}, #{module},#{moduleValue}, #{action}, #{ownType},#{ownval},#{remark}
    </sql>

    <!-- 开发负责人：泊雨
         功能说明：根据相关条件查询所属功能 -->
    <select id="queryPermissionList" parameterType="permissionQuery" resultType="permissionDO">
        select distinct <include refid="basicColumn" />
        from TopicPermissions
        where
        <foreach collection="queryOwns" item="own" open="((" close="))"
                 separator=" ) or ( ">
            ownType=#{own.type} AND ownval=#{own.val}
        </foreach>
        <if test="module != null">
            and module = #{module}
        </if>
        <if test="action !=null">
            and action = #{action}
        </if>
        Limit 200
    </select>

    <select id="queryPermissionByMenu" parameterType="permissionQuery" resultType="permissionDO">
        select distinct <include refid="basicColumn" />
        from TopicPermissions
        where
        module = 'menu'
        <foreach collection="queryOwns" item="own" open="((" close="))"
                 separator=" ) or ( ">
            ownType=#{own.type} AND ownval=#{own.val}
        </foreach>
        Limit 200
    </select>

</mapper>