
#parse("common/head_v1.vm")

<link href="${rc.contextPath}/assets/stylesheets/pages.min.css" rel="stylesheet" type="text/css">
<style>
    #signin-demo {
    	position: fixed;
    	right: 0;
    	bottom: 0;
    	z-index: 10000;
    	background: rgba(0,0,0,.6);
    	padding: 6px;
    	border-radius: 3px;
    }
    #signin-demo img { cursor: pointer; height: 40px; }
    #signin-demo img:hover { opacity: .5; }
    #signin-demo div {
    	color: #fff;
    	font-size: 10px;
    	font-weight: 600;
    	padding-bottom: 6px;
    }
</style>

<body class="theme-default page-signin">
<script src="assets/demo/demo.js"></script> <!-- / Demo script -->

	<!-- Page background -->
	<div id="page-signin-bg">
		<!-- Background overlay -->
		<div class="overlay"></div>
		<!-- Replace this with your bg image 
		<img src="http://infinite-woodland-5276.herokuapp.com/assets/demo/signin-bg-1.jpg" alt="">-->
	</div>
	<!-- / Page background -->

	<!-- Container -->
	<div class="signin-container">

		<!-- Left side -->
		<div class="signin-info">
			<a href="javascript:;" class="logo">
				<img src="assets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
				麦田
			</a> <!-- / .logo -->
			<div class="slogan">
				 
			</div> <!-- / .slogan -->
			<ul>
				<li><i class="fa fa-sitemap signin-icon"></i>主站运营后台</li>
				<li><i class="fa fa-outdent signin-icon"></i>内网系统</li>
				<li><i class="fa fa-heart signin-icon"></i>流程平台</li>
			</ul> <!-- / Info list -->
		</div>
		<!-- / Left side -->

		<!-- Right side -->
		<div class="signin-form">

			<!-- Form -->
			<form  action="${rc.contextPath}//userLogin.shtml" id="frmUserLogin" method="post">
				<div class="signin-text">
					<span>请输入您的登录域账号</span>
				</div> <!-- / .signin-text -->

				<div class="form-group w-icon">
					<input type="text" name="uname" id="username_id" class="form-control input-lg" placeholder="用户名" value="#if(${uname})${uname}#end">
					<span class="fa fa-user signin-form-icon"></span>
				</div> <!-- / Username -->

				<div class="form-group w-icon">
					<input type="password" name="pwd" id="password_id" class="form-control input-lg" placeholder="密码">
					<span class="fa fa-lock signin-form-icon"></span>
				</div> <!-- / Password -->
				<div class="form-actions">
					#if(${errorMsg})
						<a  class="label label-danger">${errorMsg}</a>
					#end
                </div>
<!--
				<div class="form-actions">
					<input type="submit" value="登录系统" class="signin-btn bg-primary">
					<a href="javascript:;" class="forgot-password" id="forgot-password-link">忘记密码？@山竹 修改</a>
				</div>  / .form-actions -->
			</form>
			<!-- / Form -->

			<!-- "Sign In with" block -->
			<div class="signin-with">
				<!-- Facebook -->
				<a  id="btnUserLogin" class="signin-with-btn" style="background:#4f6faa;background:rgba(79, 111, 170, .8);">
					登录系统
				</a>
			</div>
		</div>
		<!-- Right side -->
	</div>
	<!-- / Container -->

	<div class="not-a-member">
		ICT商品类目 &nbsp;&nbsp; 开发支持：小稻、卓轩、顺风</a>
	</div>

<script src="${rc.contextPath}/assets/js/jquery-2.0.3.min.js"></script>
<script src="assets/javascripts/bootstrap.min.js"></script>
<script src="assets/javascripts/pixel-admin.min.js"></script>

<script type="text/javascript">
	var init = [];
	init.push(function () {
		var  div = $('<div id="signin-demo" class="hidden-xs"><div>PAGE BACKGROUND</div></div>'),
		    bgs  = [ 'assets/demo/signin-bg-1.jpg', 'assets/demo/signin-bg-2.jpg', 'assets/demo/signin-bg-3.jpg',
		    		 'assets/demo/signin-bg-4.jpg', 'assets/demo/signin-bg-5.jpg', 'assets/demo/signin-bg-6.jpg',
					 'assets/demo/signin-bg-7.jpg', 'assets/demo/signin-bg-8.jpg', 'assets/demo/signin-bg-9.jpg' ];
		for (var i=0, l=bgs.length; i < l; i++) 
				div.append($('<img src="' + bgs[i] + '">'));
				
	     div.find('img').click(function () {
			var img = new Image();
			img.onload = function () {
				$('#page-signin-bg > img').attr('src', img.src);
				$(window).resize();
			}
			img.src = $(this).attr('src');
		});
		$('body').append(div);
	});
	// Resize BG
	init.push(function () {
		var $ph  = $('#page-signin-bg'),
		    $img = $ph.find('> img');

		$(window).on('resize', function () {
			$img.attr('style', '');
			if ($img.height() < $ph.height()) {
				$img.css({
					height: '100%',
					width: 'auto'
				});
			}
		});
	});

	// Show/Hide password reset form on click
	init.push(function () {
		$('#forgot-password-link').click(function () {
			$('#password-reset-form').fadeIn(400);
			return false;
		});
		$('#password-reset-form .close').click(function () {
			$('#password-reset-form').fadeOut(400);
			return false;
		});
	});

	// Setup Sign In form validation
	init.push(function () {
		$("#signin-form_id").validate({ focusInvalid: true, errorPlacement: function () {} });
		
		// Validate username
		$("#username_id").rules("add", {
			required: true,
			minlength: 3
		});

		// Validate password
		$("#password_id").rules("add", {
			required: true,
			minlength: 6
		});
	});
	
	//用户登录
	jQuery("#btnUserLogin").click(function(){
		$("#frmUserLogin").submit();
	});
	//判断是否到主站
	//if("online" == "${optEnv}"){
		//location.href = "http://www.mogujie.com/statgateway/maittop?host=mait.mogujie.org/mait";
	//}else if("testing" == "${optEnv}"){
	//	location.href = "http://www.mogujie.com/statgateway/maittop?host=10.15.2.142:10086/mait/";
	//}

</script>

</body>
</html>