<?xml version="1.0" encoding="UTF-8"?>
<!-- Chapter 3: Logback configuration - http://logback.qos.ch/manual/configuration.html -->
<configuration>

	<property name="FILE_PATTERN" value="%date [%thread] %relative %level [%logger:%line] - %msg%n - %replace(%ex){'\n','---'} %nopex %n"/>

	<!-- Web -->
	<appender name="WEB_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${CATALINA_APPLOG}/web.log</file>
		<encoder>
			<pattern>${FILE_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CATALINA_APPLOG}/web.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<root level="${log.level}">
		<appender-ref ref="WEB_FILE"/>
	</root>

	<!-- Tesla -->
	<appender name="TESLA_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${CATALINA_APPLOG}/tesla.log</file>
		<encoder>
			<pattern>${FILE_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CATALINA_APPLOG}/tesla.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<logger name="com.mogujie.tesla" level="${log.level}" additivity="false">
		<appender-ref ref="TESLA_FILE"/>
	</logger>

	<!-- Raptor -->
	<appender name="RAPTOR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${CATALINA_APPLOG}/raptor.log</file>
		<encoder>
			<pattern>${FILE_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CATALINA_APPLOG}/raptor.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<logger name="com.mogujie.raptor" level="${log.level}" additivity="false">
		<appender-ref ref="RAPTOR_FILE"/>
	</logger>

	<!-- Sentry -->
	<appender name="SENTRY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${CATALINA_APPLOG}/sentry.log</file>
		<encoder>
			<pattern>${FILE_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CATALINA_APPLOG}/sentry.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<logger name="com.mogujie.sentry" level="${log.level}" additivity="false">
		<appender-ref ref="SENTRY_FILE"/>
	</logger>
</configuration>